.dash-nav {
    width: 15%;
    background: #160F34;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.orgInfo {
    padding-top: 100px;
}

.dashMain {
    width: 85%;
}

.dashUl {
    margin-block: 0px;
    padding-inline: 0px;;
}
.dashUl li {
    list-style-type: none;
    margin: 60px 0px 0px 45px;
    text-align: left;
}

.dashUl li a{
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;
    color: white;
    text-decoration: none;
}